body {
  background-image: linear-gradient(#19173b, #0b1121);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* profile dashboard style */
.left-side-dashboard {
  border-right: 2px solid gray;
  text-align: center;
}
.right-side-dashboard p {
  font-size: 1.2rem;
}
